Instagram Scraper Step 1.json
{
  "name": "Instagram Scraper Step 1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7c89ee77-4659-4a35-a4d7-3907c1058edb",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -544,
        256
      ],
      "id": "60ad93a0-36d2-4398-aa52-450871920d35",
      "name": "Webhook",
      "webhookId": "7c89ee77-4659-4a35-a4d7-3907c1058edb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f143017e-0ebb-470c-9407-7fa518403955",
              "name": "Movie",
              "value": "={{ $json.body.data.properties.Movie.title[0].plain_text }}",
              "type": "string"
            },
            {
              "id": "8b63e2df-84f0-4d9c-bafe-080f90b84916",
              "name": "Keywords",
              "value": "={{ $json.body.data.properties.Keywords.multi_select.map(tag => tag.name.replace('#', '')) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        256
      ],
      "id": "d140eeaf-af95-4b5c-8b4d-a67321e7d7fd",
      "name": "Keywords Field"
    },
    {
      "parameters": {
        "content": "## Create Notion Database",
        "height": 384,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        96,
        192
      ],
      "typeVersion": 1,
      "id": "e5d4a095-7154-4395-ad20-1ddaddb7efaa",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Apify Scraper",
        "height": 240,
        "width": 214,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        192
      ],
      "typeVersion": 1,
      "id": "3a800e21-e731-4581-856f-6d456baedc71",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Trigger",
        "height": 240,
        "width": 374,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -560,
        192
      ],
      "typeVersion": 1,
      "id": "34ccacc6-fc64-4dcc-aae3-1916c007c0de",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "28c61622-43bc-8096-92c6-cf54088c72e7",
          "mode": "list",
          "cachedResultName": "인스타그램 스크래핑 데이터",
          "cachedResultUrl": "https://www.notion.so/28c6162243bc809692c6cf54088c72e7"
        },
        "title": "인스타그램 스크래핑 데이터",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Movie|title",
              "title": "={{ $('Keywords Field').item.json.Movie }}"
            },
            {
              "key": "Keywords|multi_select",
              "multiSelectValue": "={{ $('Keywords Field').item.json.Keywords }}"
            },
            {
              "key": "Caption|rich_text",
              "textContent": "={{ $json.caption }}"
            },
            {
              "key": "Hashtags|multi_select",
              "multiSelectValue": "={{ $json.hashtags }}"
            },
            {
              "key": "URL|url",
              "urlValue": "={{ $json.url }}"
            },
            {
              "key": "Display|files",
              "fileUrls": {
                "fileUrl": [
                  {
                    "name": "DisplayImage",
                    "url": "={{ $json.displayUrl }}"
                  }
                ]
              }
            },
            {
              "key": "Likes|number",
              "numberValue": "={{$json.likesCount === -1 ? 0 : $json.likesCount}}"
            },
            {
              "key": "Comments|number",
              "numberValue": "={{$json.commentsCount === -1 ? 0 : $json.commentsCount}}"
            },
            {
              "key": "Users|rich_text",
              "textContent": "={{ $json.ownerFullName }}"
            },
            {
              "key": "ID|rich_text",
              "textContent": "={{ $json.id }}"
            },
            {
              "key": "Timestamp|date",
              "date": "={{ new Date($json.timestamp).toISOString().slice(0, 16).replace('T', ' ') }}"
            },
            {
              "key": "Category|select",
              "selectValue": "={{ $json.sentimentAnalysis.category }}"
            },
            {
              "key": "Strength|number",
              "numberValue": "={{ $json.sentimentAnalysis.strength }}"
            },
            {
              "key": "Confidence|number",
              "numberValue": "={{ $json.sentimentAnalysis.confidence }}"
            },
            {
              "key": "Keyword Page|relation",
              "relationValue": [
                "={{ $('Webhook').item.json.body.data.id }}"
              ]
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "heading_2",
              "textContent": "Movie"
            },
            {
              "textContent": "={{ $('Keywords Field').item.json.Movie }}"
            },
            {
              "type": "heading_2",
              "textContent": "Keywords"
            },
            {
              "textContent": "={{ $(\"Keywords Field\").item.json.Keywords.map(tag => \"#\" + tag).join(\", \") }}"
            },
            {
              "type": "heading_2",
              "textContent": "=Caption"
            },
            {
              "textContent": "={{ $json.caption }}"
            },
            {
              "type": "heading_2",
              "textContent": "URL"
            },
            {
              "textContent": "={{ $json.url }}"
            },
            {
              "type": "image",
              "url": "={{ $json.displayUrl }}"
            },
            {
              "type": "heading_2",
              "textContent": "Likes"
            },
            {
              "textContent": "={{ ($json.likesCount === -1 ? 0 : $json.likesCount).toString() }}"
            },
            {
              "type": "heading_2",
              "textContent": "Comments"
            },
            {
              "textContent": "={{ ($json.commentsCount === -1 ? 0 : $json.commentsCount).toString() }}"
            },
            {
              "type": "heading_2",
              "textContent": "Timestamp"
            },
            {
              "textContent": "={{ new Date($json.timestamp).toISOString().slice(0, 16).replace('T', ' ') }}"
            }
          ]
        },
        "options": {
          "iconType": "file",
          "icon": "=https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/2048px-Instagram_logo_2022.svg.png"
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        480,
        256
      ],
      "id": "ad5908c8-4af1-4463-986d-bdd9c269d4ee",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "id": "1IYH8sk8KrXGZta9",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/reGe1ST3OBgYZSsZJ/run-sync-get-dataset-items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"hashtags\": {{ JSON.stringify($json.Keywords) }},\n  \"resultsLimit\": 2,\n  \"resultsType\": \"posts\"\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -96,
        256
      ],
      "id": "4f6cf926-122a-4688-a9e8-79a9018a08a7",
      "name": "Fetch Apify",
      "credentials": {
        "httpHeaderAuth": {
          "id": "X7hULh0nYGf8Oasf",
          "name": "Header Apify account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.caption }}",
        "options": {
          "categories": "Positive, Neutral, Negative",
          "systemPromptTemplate": "You are highly intelligent and accurate sentiment analyzer. Analyze the sentiment of the provided text. Categorize it into one of the following: {categories}. Use the provided formatting instructions. Only output the JSON.",
          "includeDetailedResults": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "typeVersion": 1.1,
      "position": [
        144,
        240
      ],
      "id": "26701603-5e00-4d25-9325-99167673aa2c",
      "name": "Caption Sentiment Analysis"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        144,
        432
      ],
      "id": "0a5c771b-a4a0-4c48-84ed-b125850f8e7e",
      "name": "OpenAI Model 1",
      "credentials": {
        "openAiApi": {
          "id": "GU4Fc8aV2Jc3O9Mo",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "daniel8824.app.n8n.cloud",
            "user-agent": "NotionAutomation",
            "content-length": "1592",
            "accept-encoding": "gzip, br",
            "baggage": "sentry-environment=production,sentry-release=20251014.1357-e66c0d6,sentry-public_key=529a6d1990e5471d874257842c4f4ad8,sentry-trace_id=b65dd45c92ab4ac294d405693a5aad01",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "44.238.170.230",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "98e9016d9093de1d-PDX",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "keywords": "@Keywords",
            "movie": "@Movie",
            "sentry-trace": "b65dd45c92ab4ac294d405693a5aad01-aa507759b9693ebf",
            "traceparent": "00-259985d645a1afb1edb5d11bed2a0a8a-13d67e497e7271f6-00",
            "x-forwarded-for": "44.238.170.230, 104.23.160.221",
            "x-forwarded-host": "daniel8824.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-43-869467f569-qvbjs",
            "x-is-trusted": "yes",
            "x-real-ip": "44.238.170.230"
          },
          "params": {},
          "query": {},
          "body": {
            "source": {
              "type": "automation",
              "automation_id": "28c61622-43bc-80a2-9d31-004d6bb2ed9d",
              "action_id": "28c61622-43bc-8099-8174-005a5f72ac45",
              "event_id": "adb9bc76-3e0e-48b0-aa37-7f39c0f156d5",
              "user_id": "18c3cd2c-5b12-43e3-a259-41c43f68e529",
              "attempt": 1
            },
            "data": {
              "object": "page",
              "id": "28c61622-43bc-8026-a8b5-c650133d024b",
              "created_time": "2025-10-14T17:16:00.000Z",
              "last_edited_time": "2025-10-14T17:30:00.000Z",
              "created_by": {
                "object": "user",
                "id": "18c3cd2c-5b12-43e3-a259-41c43f68e529"
              },
              "last_edited_by": {
                "object": "user",
                "id": "18c3cd2c-5b12-43e3-a259-41c43f68e529"
              },
              "cover": null,
              "icon": {
                "type": "external",
                "external": {
                  "url": "https://www.notion.so/icons/code-scan_gray.svg"
                }
              },
              "parent": {
                "type": "database_id",
                "database_id": "28c61622-43bc-8059-8514-cb26e3b129cd"
              },
              "archived": false,
              "in_trash": false,
              "is_locked": false,
              "properties": {
                "Movie": {
                  "id": "title",
                  "type": "title",
                  "title": [
                    {
                      "type": "text",
                      "text": {
                        "content": "케이팝 데몬 헌터스",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "케이팝 데몬 헌터스",
                      "href": null
                    }
                  ]
                },
                "Keywords": {
                  "id": "C%40KF",
                  "type": "multi_select",
                  "multi_select": [
                    {
                      "id": "mPF~",
                      "name": "#케이팝데몬헌터스",
                      "color": "gray"
                    },
                    {
                      "id": "MmK@",
                      "name": "#케데헌",
                      "color": "purple"
                    },
                    {
                      "id": "GjQX",
                      "name": "#헌트릭스",
                      "color": "default"
                    },
                    {
                      "id": "=GRw",
                      "name": "#김밥챌린지",
                      "color": "red"
                    }
                  ]
                }
              },
              "url": "https://www.notion.so/28c6162243bc8026a8b5c650133d024b",
              "public_url": "https://www.daniel8824.kr/28c6162243bc8026a8b5c650133d024b",
              "request_id": "ac03c2a2-6796-4607-9bc3-6f45291329e3"
            }
          },
          "webhookUrl": "https://daniel8824.app.n8n.cloud/webhook/f0e68830-028c-47af-b0e6-813785bf376f",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Keywords Field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keywords Field": {
      "main": [
        [
          {
            "node": "Fetch Apify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Apify": {
      "main": [
        [
          {
            "node": "Caption Sentiment Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Caption Sentiment Analysis": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model 1": {
      "ai_languageModel": [
        [
          {
            "node": "Caption Sentiment Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "65228034-47eb-42b1-8d1f-cb49417e9807",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ed29603280f689e433d162d6eb2f4c0ef594feb614602d9f72d06ccb3a8d3e19"
  },
  "id": "b5hRShn7yu1QJSSm",
  "tags": [
    {
      "createdAt": "2025-10-22T12:49:51.287Z",
      "updatedAt": "2025-10-22T12:49:51.287Z",
      "id": "Vay2kkcYupDfIRMl",
      "name": "데이터 클래스"
    }
  ]
}