Naver Blog Scraper 2.json
{
  "name": "Naver Blog Scraper 2",
  "nodes": [
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2a061622-43bc-8082-9d8d-fa23cdd1a261",
          "mode": "list",
          "cachedResultName": "네이버 블로그 크롤링 데이터",
          "cachedResultUrl": "https://www.notion.so/2a06162243bc80829d8dfa23cdd1a261"
        },
        "title": "네이버 블로그 크롤링 데이터",
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "At Time|date",
              "date": "={{ $('Blog Cleaning').item.json.collectedAt.slice(0, 16) }}",
              "timezone": "Asia/Seoul"
            },
            {
              "key": "Blog|rich_text",
              "textContent": "={{ $('Blog Cleaning').item.json.bloggerName }}"
            },
            {
              "key": "Content|rich_text",
              "textContent": "={{ $('Blog Cleaning').item.json.content ? ($('Blog Cleaning').item.json.content.length > 1950 ? $('Blog Cleaning').item.json.content.slice(0, 1950) + '...' : $('Blog Cleaning').item.json.content) : '' }}"
            },
            {
              "key": "Date|date",
              "date": "={{ $('Blog Cleaning').item.json.publishedDateOnly }}",
              "timezone": "Asia/Seoul"
            },
            {
              "key": "Keywords|select",
              "selectValue": "={{ $('Blog Cleaning').item.json.keyword }}"
            },
            {
              "key": "Link|url",
              "ignoreIfEmpty": true,
              "urlValue": "={{ $('Blog Cleaning').item.json.bloggerLink }}"
            },
            {
              "key": "Movie|title",
              "title": "={{ $('Blog Cleaning').item.json.movie }}"
            },
            {
              "key": "Position|number",
              "numberValue": "={{ $('Blog Cleaning').item.json.position }}"
            },
            {
              "key": "Title|rich_text",
              "textContent": "={{ $('Blog Cleaning').item.json.title }}"
            },
            {
              "key": "URL|url",
              "ignoreIfEmpty": true,
              "urlValue": "={{ $('Blog Cleaning').item.json.url }}"
            },
            {
              "key": "Keyword Page|relation",
              "relationValue": [
                "={{ $('Blog Cleaning').item.json.keywordPageId }}"
              ]
            }
          ]
        },
        "options": {
          "iconType": "file",
          "icon": "https://play-lh.googleusercontent.com/vh9R5EOEx7mk_YUM8gYgJF1GtlYrRwXu-QhIJ45rG5Y3_h640rYEFwH5d84yqGw7Xii1kzghygQZFTUY-uxS"
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -432,
        64
      ],
      "id": "92b219a4-8628-4df4-97bf-3114ec4296f1",
      "name": "Blog DB",
      "credentials": {
        "notionApi": {
          "id": "1IYH8sk8KrXGZta9",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/blocks/{{ $json.id }}/children",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2025-09-03"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Blog Format').item.json }}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -256,
        64
      ],
      "id": "9d14ef74-6511-4338-8186-551ecab30e6b",
      "name": "Blog Block",
      "retryOnFail": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "l426XFoZtaDBUlPQ",
          "name": "Header Notion account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Target\n### 데이터 전송\n- 노션 데이터베이스 적재\n- 노션 블록 콘텐츠 추가",
        "height": 432,
        "width": 918,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -464,
        -160
      ],
      "typeVersion": 1,
      "id": "d9ff6b74-ddf9-4e14-a789-c4f91357ee68",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// n8n JavaScript 노드 - 네이버 블로그 본문 정제 (최종)\n\nconst html = $input.item.json.data;\nconst loopItem = $('Blog Loop').item.json;\n\n// HTML 태그 및 엔티티 정리\nfunction cleanHtml(text) {\n  if (!text) return '';\n  let cleaned = text;\n\n  cleaned = cleaned.replace(/<br\\s*\\/?>/gi, '\\n');\n  cleaned = cleaned.replace(/<\\/?p[^>]*>/gi, '\\n');\n  cleaned = cleaned.replace(/<script\\b[^<]*(?:(?!<\\/script>)<[^<]*)*<\\/script>/gi, '');\n  cleaned = cleaned.replace(/<style\\b[^<]*(?:(?!<\\/style>)<[^<]*)*<\\/style>/gi, '');\n  cleaned = cleaned.replace(/<[^>]+>/g, ' '); \n  cleaned = cleaned.replace(/&nbsp;/g, ' ');\n  cleaned = cleaned.replace(/&lt;/g, '<');\n  cleaned = cleaned.replace(/&gt;/g, '>');\n  cleaned = cleaned.replace(/&amp;/g, '&');\n  cleaned = cleaned.replace(/&quot;/g, '\"');\n  cleaned = cleaned.replace(/&#39;/g, \"'\");\n  cleaned = cleaned.replace(/&lsquo;/g, \"'\");\n  cleaned = cleaned.replace(/&rsquo;/g, \"'\");\n  cleaned = cleaned.replace(/&ldquo;/g, '\"');\n  cleaned = cleaned.replace(/&rdquo;/g, '\"');\n  cleaned = cleaned.replace(/&hellip;/g, '...');\n  \n  // 이모지 제거\n  cleaned = cleaned.replace(/[\\u{1F300}-\\u{1F9FF}]/gu, '');\n  cleaned = cleaned.replace(/[\\u{1F600}-\\u{1F64F}]/gu, '');\n  \n  cleaned = cleaned.replace(/[ \\t]+/g, ' ');\n  cleaned = cleaned.replace(/\\n{2,}/g, '\\n');\n  cleaned = cleaned.trim();\n  return cleaned;\n}\n\n// 해시태그 체크\nfunction isHashtagLine(line) {\n  const trimmed = line.trim();\n  const hashCount = (trimmed.match(/#/g) || []).length;\n  \n  if (hashCount >= 3) {\n    const hashRatio = hashCount / trimmed.length;\n    if (hashRatio > 0.05) return true;\n  }\n  \n  if (trimmed.startsWith('#') || trimmed.startsWith('＠') || trimmed.startsWith('@')) {\n    const words = trimmed.split(/\\s+/);\n    const hashWords = words.filter(w => w.startsWith('#') || w.startsWith('＠') || w.startsWith('@'));\n    if (hashWords.length / words.length > 0.7) return true;\n  }\n  \n  return false;\n}\n\n// 본문 추출\nlet content = cleanHtml(html);\n\nconst bodyStartPattern = /신고하기[\\s\\n]*/i;\nif (bodyStartPattern.test(content)) {\n  content = content.split(bodyStartPattern).slice(1).join('신고하기').trim();\n}\n\n// 노이즈 키워드\nconst noiseKeywords = [\n  '이웃추가', '공유하기', 'URL복사', '신고하기',\n  '카테고리', '이 블로그 홈', '닫기',\n  '존재하지 않는 이미지입니다',\n  '존재하지 않는 스티커입니다',\n  'Previous image',\n  'Next image',\n  '원본 저장하기',\n  '이 블로그의 체크인',\n  '이 장소의 다른 글',\n  'kakao.com',\n  'naver.me',\n  'instagram.com',\n  'www.instagram.com',\n  '취소'\n];\n\n// 노이즈 제거\nlet lines = content.split('\\n').map(line => line.trim());\n\nlines = lines.filter(line => {\n  if (line.length === 0) return false;\n  if (isHashtagLine(line)) return false;\n  if (noiseKeywords.some(kw => line.includes(kw))) return false;\n  if (/^\\d{2,4}-\\d{3,4}-\\d{4}$/.test(line)) return false;\n  if (/^https?:\\/\\//.test(line)) return false;\n  return true;\n});\n\ncontent = lines.join('\\n');\n\n// 줄 끝 해시태그 제거\nlines = content.split('\\n').map(line => line.trim());\nlines = lines.map(line => {\n  const parts = line.split(/\\s+/);\n  let lastTextIndex = -1;\n  \n  for (let i = parts.length - 1; i >= 0; i--) {\n    const part = parts[i];\n    if (!part.startsWith('#') && !part.startsWith('＠') && !part.startsWith('@')) {\n      lastTextIndex = i;\n      break;\n    }\n  }\n  \n  if (lastTextIndex >= 0) {\n    line = parts.slice(0, lastTextIndex + 1).join(' ');\n  } else if (parts.every(p => p.startsWith('#') || p.startsWith('＠') || p.startsWith('@'))) {\n    line = '';\n  }\n  \n  return line.replace(/\\s+/g, ' ').trim();\n});\n\ncontent = lines.filter(line => line.length > 0).join('\\n').trim();\n\n// 푸터 제거\ncontent = content.replace(/\\{\"title\":.*/s, '');\ncontent = content.replace(/취소\\s*\\d+\\s*\\/\\s*\\d+.*/s, '');\ncontent = content.replace(/\\n[^\\n]+\\([a-zA-Z0-9_]+\\)\\n취소\\s*$/s, '');\ncontent = content.replace(/\\n취소\\s*$/s, '');\n\n// 최종 정리: 연속 \\n을 1개로\ncontent = content.replace(/\\n+/g, '\\n').trim();\n\n// 본문 검증\nlet extractionStatus = 'success';\n\nif (!content || content.length < 50) {\n  content = loopItem.description || '';\n  extractionStatus = 'failed_use_description';\n  \n  if (!content) {\n    content = '본문 추출 실패';\n    extractionStatus = 'failed_no_content';\n  }\n}\n\nreturn {\n  json: {\n    ...loopItem,\n    content: content,\n    contentLength: content.length,\n    hasContent: content.length >= 50,\n    extractionStatus: extractionStatus\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        64
      ],
      "id": "331b5400-84a2-4f09-a629-e5e0967f13bf",
      "name": "Blog Cleaning",
      "retryOnFail": false
    },
    {
      "parameters": {
        "content": "## Task\n### 데이터 전처리\n- 상위 워크플로우 수신\n- 10개씩 배치별 순차 처리 ",
        "height": 416,
        "width": 400,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1424,
        -144
      ],
      "typeVersion": 1,
      "id": "e2b2457c-e03b-41b7-ab6a-7ceb5b108503",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1184,
        0
      ],
      "id": "3f321c49-d8bb-4aea-8632-151296b2e624",
      "name": "Blog Loop"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        272,
        64
      ],
      "id": "27b943e5-25f4-4953-b873-8dcb2de89d81",
      "name": "Wait",
      "webhookId": "a7c40408-04e5-44b2-be6e-291724948de3"
    },
    {
      "parameters": {
        "url": "={{ $json.mobileUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Referer",
              "value": "https://section.blog.naver.com/"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml"
            },
            {
              "name": "Accept-Language",
              "value": "ko-KR,ko;q=0.9"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -960,
        64
      ],
      "id": "9587522a-1066-4ddb-abca-db19525461ef",
      "name": "Blog Extract"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// n8n JavaScript 노드 - Notion 블록 생성 (블로그 데이터)\n// 최종 완성 버전: Image 섹션 완전 제거\n\nconst data = $input.item.json;\n\n// Notion 블록 배열 생성\nconst notionBlocks = [];\n\n// Title 헤딩 + 내용 (링크 걸림)\nnotionBlocks.push({\n  object: \"block\",\n  type: \"heading_2\",\n  heading_2: {\n    rich_text: [{ type: \"text\", text: { content: \"Title\" } }]\n  }\n});\n\nconst titleText = data.title || \"제목 없음\";\nconst titleLink = data.mobileUrl || data.url || null;\n\nnotionBlocks.push({\n  object: \"block\",\n  type: \"paragraph\",\n  paragraph: {\n    rich_text: [{ \n      type: \"text\", \n      text: { \n        content: titleText,\n        link: titleLink ? { url: titleLink } : undefined\n      }\n    }]\n  }\n});\n\n// Blog 헤딩 + 내용 (블로거명에 블로그 링크 연결)\nnotionBlocks.push({\n  object: \"block\",\n  type: \"heading_2\",\n  heading_2: {\n    rich_text: [{ type: \"text\", text: { content: \"Blog\" } }]\n  }\n});\n\nconst bloggerName = data.bloggerName || \"블로거 정보 없음\";\nconst bloggerLink = data.bloggerLink || null;\n\nnotionBlocks.push({\n  object: \"block\",\n  type: \"paragraph\",\n  paragraph: {\n    rich_text: [{ \n      type: \"text\", \n      text: { \n        content: bloggerName,\n        link: bloggerLink ? { url: bloggerLink } : undefined\n      }\n    }]\n  }\n});\n\n// Pubdate 헤딩 + 내용\nnotionBlocks.push({\n  object: \"block\",\n  type: \"heading_2\",\n  heading_2: {\n    rich_text: [{ type: \"text\", text: { content: \"Pubdate\" } }]\n  }\n});\n\nnotionBlocks.push({\n  object: \"block\",\n  type: \"paragraph\",\n  paragraph: {\n    rich_text: [{ \n      type: \"text\", \n      text: { \n        content: data.publishedDateOnly || \"날짜 없음\" \n      }\n    }]\n  }\n});\n\n// Content 헤딩 + 내용\nnotionBlocks.push({\n  object: \"block\",\n  type: \"heading_2\",\n  heading_2: {\n    rich_text: [{ type: \"text\", text: { content: \"Content\" } }]\n  }\n});\n\n// content 처리\nconst content = data.content || \"\";\n\nif (content.trim() === \"\") {\n  notionBlocks.push({\n    object: \"block\",\n    type: \"paragraph\",\n    paragraph: {\n      rich_text: [{ \n        type: \"text\", \n        text: { \n          content: \"본문 내용 없음\" \n        }\n      }]\n    }\n  });\n} else {\n  // content를 2000자 단위로 분할 (Notion API 제한)\n  const chunkSize = 2000;\n  \n  for (let i = 0; i < content.length; i += chunkSize) {\n    const chunk = content.slice(i, i + chunkSize);\n    \n    if (chunk.trim() !== \"\") {\n      notionBlocks.push({\n        object: \"block\",\n        type: \"paragraph\",\n        paragraph: {\n          rich_text: [{ \n            type: \"text\", \n            text: { \n              content: chunk \n            }\n          }]\n        }\n      });\n    }\n  }\n}\n\nreturn {\n  json: {\n    children: notionBlocks\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        64
      ],
      "id": "80d2af7c-7b99-4b8c-a826-2b746c652e86",
      "name": "Blog Format"
    },
    {
      "parameters": {
        "content": "## TASK\n### 데이터 전처리\n- 블로그 본문 정제\n- 노션 블록 포맷팅",
        "height": 512,
        "width": 528
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1008,
        -240
      ],
      "typeVersion": 1,
      "id": "8b8619b6-dcd0-4916-a63b-a0ffbf8a0074",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -960,
        -96
      ],
      "id": "7ee10dc8-977d-4777-ac8a-414de8db06cf",
      "name": "No Operation"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "gGj7U5Mz3XK0U77d",
          "mode": "list",
          "cachedResultName": "Naver Blog Scraper",
          "cachedResultUrl": "/projects/dxmOSdrB8oXX8d4S/datatables/gGj7U5Mz3XK0U77d"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "={{ $json.content }}",
            "keywordPageId": "={{ $json.keywordPageId }}"
          },
          "matchingColumns": [
            "content"
          ],
          "schema": [
            {
              "id": "keywordPageId",
              "displayName": "keywordPageId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        96,
        64
      ],
      "id": "36e443c5-1d45-4ee2-9199-91480f6a07f8",
      "name": "Insert row"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4b987411-9cc4-4290-808c-3cc25c54f92a",
              "name": "content",
              "value": "={{ $('Blog Cleaning').item.json.content }}",
              "type": "string"
            },
            {
              "id": "b25e2f5b-a619-431c-aa01-9e2d946df5a1",
              "name": "keywordPageId",
              "value": "={{ $('Blog Cleaning').item.json.keywordPageId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        64
      ],
      "id": "4d0b6017-d91d-41ce-a92c-9871ff866363",
      "name": "Block Field"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1392,
        0
      ],
      "id": "5cbeb7d1-6515-42df-9287-e94f4313d3ba",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Blog DB": {
      "main": [
        [
          {
            "node": "Blog Block",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blog Block": {
      "main": [
        [
          {
            "node": "Block Field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blog Cleaning": {
      "main": [
        [
          {
            "node": "Blog Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blog Loop": {
      "main": [
        [
          {
            "node": "No Operation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Blog Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Blog Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blog Extract": {
      "main": [
        [
          {
            "node": "Blog Cleaning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blog Format": {
      "main": [
        [
          {
            "node": "Blog DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Block Field": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Blog Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Seoul",
    "callerPolicy": "workflowsFromSameOwner",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "availableInMCP": false
  },
  "versionId": "60e5a7dd-d551-4a27-92f1-135ddd19c710",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ed29603280f689e433d162d6eb2f4c0ef594feb614602d9f72d06ccb3a8d3e19"
  },
  "id": "sjLJc2vC5SGhBMG4",
  "tags": [
    {
      "updatedAt": "2025-10-22T12:49:51.287Z",
      "createdAt": "2025-10-22T12:49:51.287Z",
      "id": "Vay2kkcYupDfIRMl",
      "name": "데이터 클래스"
    }
  ]
}